<p-tabView>
  <p-tabPanel header="Usuários" leftIcon="pi pi-users">
    <app-usuarios [usuarios]="usuarios" (atualizarUsuario)="buscarUsuarios()"></app-usuarios>
  </p-tabPanel>
  <p-tabPanel header="Header 2">
      Content 2
  </p-tabPanel>
  <p-tabPanel header="Header 3">
      Content 3
  </p-tabPanel>
</p-tabView>

<div>
  <p-confirmDialog #excluirusuario header="Exclusão de Instituição" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="excluirusuario.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="excluirusuario.accept()"></button>
    </p-footer>
  </p-confirmDialog>
</div>