<div class="grid p-fluid">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="login align-content-center">
      <p-card>
        <ng-template pTemplate="header">
          <br>
          <br>
          <div class="text-center">
            <h2>
              Login
            </h2>
          </div>
        </ng-template>
          <div class="field">
            <label>Email</label>
            <input #email required type="text" pInputText [(ngModel)]="user.email" />
          </div>
          <div class="field">
            <label>Senha</label>
            <p-password required [(ngModel)]="user.password" [toggleMask]="true"></p-password>
          </div>
          <div class="flex flex-row">

            <div class="flex-row">
              <p-button label="Esqueci minha senha" (click)="resetPws('')" styleClass="p-button-link"></p-button>
            </div>
            <div  class="text-right">
              <p-button label="Cadastre-se" (click)="register()" styleClass="p-button-link"></p-button>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <button pButton (click)="login()" type="button" label="Login" ></button>
        </ng-template>
    </p-card>
    </div>
  </div>
  
</div>

