<div class="p-grid login">
  <form autocomplete="off" class="p-grid p-align-center" #loginForm="ngForm">

    <div class="p-xl-12 p-lg-12 p-grid p-justify-center">
      <div class="p-xl-3 p-lg-3">
        <div class="p-grid p-fluid">
  
          <div class="p-xl-12 p-grid p-justify-center">
            <img src="assets/img/logoAj.png" style="height:100px; margin: auto;">
          </div>
    
          <div class="p-xl-12 p-lg-12">
            <input pInputText type="email" corHover name="email" placeholder="E-mail"
            [(ngModel)]="usuario.email" required >
          </div>
    
          <div class="p-xl-12 p-lg-12">
            <input pInputText type="password" name="senha" placeholder="Senha"
            [(ngModel)]="usuario.senha" required >
          </div>
          
          <div class="p-xl-3 p-lg-3">
            <button pButton type="submit" icon="pi pi-fw pi-sign-in" [disabled]="loginForm.invalid" label="Login" (click)="login()"></button>
          </div>
          
          <!--div class="p-xl-9 p-lg-9">
            <div class="p-grid p-justify-end">
              <a routerLink="/resetpwd">Esqueci minha senha</a>
            </div>
          </div-->  
  
        </div>
      </div>
    </div>
  </form>  
</div>