  <p-panel >
    <p-header>
      <div class="p-text-uppercase"><h2>{{titulo}}</h2></div>      
    </p-header>
    <form #entidadeForm="ngForm">
      <div class="p-fluid p-formgrid p-grid">
        
        <div class="p-field p-col-4 p-md-4 p-xl-4 p-lg-4">
          <label class="p-text-bold" for="nome">Nome:</label>
          <input id="nome" type="text" required pInputText [(ngModel)]="entidade.nome" name="nome" [disabled]="detalhando"> 
        </div>
        
        <div class="p-field p-col-6 p-md-6 p-xl-6 p-lg-6">
          <label class="p-text-bold" for="endereco">Endereço/URL:</label>
          <input id="endereco" type="text" pInputText [(ngModel)]="entidade.endereco" name="endereco" [disabled]="detalhando"> 
        </div>
        
        <div class="p-field p-col-2 p-md-2 p-xl-2 p-lg-2">
          <label class="p-text-bold" for="relevancia">Relevância:</label>
          <input id="relevancia" type="number" pInputText [(ngModel)]="entidade.relevancia" name="relevancia" [disabled]="detalhando"> 
        </div>
        
        <div class="p-field p-col-12 p-md-12 p-xl-12 p-lg-12">
          <label class="p-text-bold" for="descricao">Descrição:</label>
          <textarea id="descricao" pInputTextarea [(ngModel)]="entidade.descricao" name="descricao" [rows]="3" [disabled]="detalhando"></textarea> 
        </div>

      </div>      
  
    </form>
    <p-footer>
      <div class="p-d-flex">
        <div *ngIf="detalhando" class="p-d-block p-mx-auto"><button type="button" pButton class="p-button-rounded" icon="pi pi-arrow-left" label="VOLTAR" (click)="Cancelar()"></button></div>
        <div *ngIf="editando" class="p-d-block p-mx-auto">
          <button type="button" pButton icon="pi pi-ban" class="p-button-rounded p-button-secondary" label="CANCELAR" (click)="Cancelar()"></button>
          <button type="button" pButton icon="pi pi-check" class="p-button-rounded p-button-success" label="SALVAR" (click)="salvar()"></button>
        </div>
      </div>
    </p-footer>
</p-panel>