<h1>{{ titulo }}</h1>

<p-panel header="Novo Curso">
  <div class="p-grid">
    <div class="p-col-2">Nome</div>
    <div class="p-col-10">
      <input pInputText type="text" [(ngModel)]="curso.nome">
    </div>

    <div class="p-col-2">Conteúdo</div>
    <div class="p-col-10">
      <input pInputText type="text" [(ngModel)]="curso.conteudo" />
    </div>

    <div class="p-col-2">Plataforma</div>
    <div class="p-col-10">
      <input pInputText type="text" [(ngModel)]="curso.plataforma" />
    </div>

    <div class="p-col-2">Nota</div>
    <div class="p-col-10">
      <input pInputText type="text" [(ngModel)]="curso.nota" />
    </div>
    <br>

    <div class="p-col-10 p-offset-2">
      <button pButton type="submit" label="Adicionar"
              (click)="adicionar()"></button>
    </div>
  </div>
</p-panel>

<br>

<p-table [value]="cursos">

  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Conteúdo</th>
      <th>Plataforma</th>
      <th>Nota</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-curso>
    <tr>
      <td>{{curso.nome}}</td>
      <td>{{curso.conteudo}}</td>
      <td>{{curso.plataforma}}</td>
      <td>{{curso.nota}}</td>
    </tr>
  </ng-template>

</p-table>
