<h1>Cursos!  </h1>
<div class="container">
  <div class="form-group">
    <label> Nome </label>
    <input type="text" classe="form-control" value="{{curso}}" #nomeInput>
  </div>

  <div class="form-group">
    <label> Teste </label>
    <input type="text" classe="form-control" (input)="curso = $event.target.value" value="{{teste}}" #testeInput>
  </div>

  <div class="form-group">
    <label> Teste </label>
    <input type="text" classe="form-control" [(ngModel)]="teste" >
  </div>

  <button type="button" class="btn btn-primary" (click)="adicionar()" ng-disabled="true"> Adicionar </button>

</div>
