<div class="p-grid">

    <div class="p-col-12 p-md-12 p-lg-12">
        <p-table [value]="usuarios" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <button type="button" pButton icon="pi pi-user-plus" (click)="criar()" label="Novo Usuário"></button>
                    <!--button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                  <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button-->
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th width="25%">Nome</th>
                    <th width="30%">Email</th>
                    <th width="20%">Perfil</th>
                    <th width="5%">Status</th>
                    <th width="20%">Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.perfil}}</td>
                    <td>
                        <i *ngIf="!usuario.status" class="pi pi-thumbs-down" ></i>
                        <i *ngIf="usuario.status" class="pi pi-thumbs-up" ></i>                        
                    </td>
                    <td>
                        <button pButton type="button" icon="pi pi-fw pi-pencil" (click)="editar(usuario)"
                            class="p-button-rounded" pTooltip="Editar" tooltipPosition="bottom"></button>

                        <button pButton type="button" icon="pi pi-fw pi-exclamation-circle" (click)="detalhar(usuario)"
                            class="p-button-rounded p-button-secondary" pTooltip="Detalhar"
                            tooltipPosition="bottom"></button>

                        <button pButton type="button" icon="pi pi-fw pi-lock" (click)="detalhar(usuario)"
                            class="p-button-rounded p-button-secondary" pTooltip="Desativar"
                            tooltipPosition="bottom" *ngIf="usuario.status"></button>

                        <button pButton type="button" icon="pi pi-fw pi-lock-open" (click)="detalhar(usuario)"
                            class="p-button-rounded p-button-secondary" *ngIf="!usuario.status" pTooltip="Ativar"
                            tooltipPosition="bottom"></button>

                        <button pButton type="button" icon="pi pi-fw pi-sitemap" (click)="detalhar(usuario)"
                            class="p-button-rounded p-button-secondary" pTooltip="Configurar permissões"
                            tooltipPosition="bottom"></button>

                        <button type="button" pButton icon="pi pi-fw pi-trash" (click)="excluir(usuario)"
                            class="p-button-rounded p-button-danger" pTooltip="Excluir"
                            tooltipPosition="bottom"></button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div *ngIf="modalEdicao">
    <p-dialog header="{{titulo}}" [(visible)]="modalEdicao" [style]="{width: '75%'}">
        <form #usuarioForm="ngForm">
            <div class="p-fluid p-formgrid p-grid">

                <div class="p-field p-col-6 p-md-6 p-xl-6 p-lg-6">
                    <label class="p-text-bold" for="nome">Nome:</label>
                    <input id="nome" type="text" required pInputText [(ngModel)]="usuario.nome" name="nome"
                        [disabled]="detalhando">
                </div>

                <div class="p-field p-col-6 p-md-6 p-xl-6 p-lg-6">
                    <label class="p-text-bold" for="email">Email:</label>
                    <input id="email" type="text" required pInputText [(ngModel)]="usuario.email" name="email"
                        [disabled]="detalhando">
                </div>

                <div class="p-field p-col-6 p-md-6 p-xl-6 p-lg-6">
                    <label class="p-text-bold" for="perfil">Perfil:</label>
                    <p-dropdown id="perfil" [options]="perfis" [(ngModel)]="usuario.perfil" required name="perfil"
                        [disabled]="detalhando"></p-dropdown>
                </div>

                <div class="p-field p-col-6 p-md-6 p-xl-6 p-lg-6" *ngIf="!detalhando">
                    <label class="p-text-bold" for="senha">Senha:</label>
                    <input id="senha" type="password" promptLabel="Digite a Senha" required pPassword [(ngModel)]="usuario.senha" name="senha">
                </div>

                <div class="p-field p-col-6 p-md-6 p-xl-6 p-lg-6" *ngIf="!detalhando">
                    <label class="p-text-bold" for="contraSenha">ContraSenha:</label>
                    <input id="contraSenha" type="password" required pPassword [(ngModel)]="usuario.contraSenha"
                        name="senha" promptLabel="Repita a Senha" >
                </div>

            </div>

        </form>
        <p-footer>
            <div class="p-d-flex">
                <div *ngIf="detalhando" class="p-d-block p-mx-auto"><button type="button" pButton
                        class="p-button-rounded" icon="pi pi-arrow-left" label="VOLTAR" (click)="cancelar()"></button>
                </div>
                <div *ngIf="editando" class="p-d-block p-mx-auto">
                    <button type="button" pButton icon="pi pi-ban" class="p-button-rounded p-button-secondary"
                        label="CANCELAR" (click)="cancelar()"></button>
                    <button type="button" pButton icon="pi pi-check" [disabled]="usuarioForm.invalid"
                        class="p-button-rounded p-button-success" label="SALVAR" (click)="salvar(usuario)"></button>
                </div>
            </div>
        </p-footer>
    </p-dialog>
</div>