<div>    

  <p-fieldset legend="Cursos">
      <div *ngIf="!viewEdit">
          <p-toolbar>
              <div class="p-toolbar-group-left">
                  <p-button label="New" icon="pi pi-plus" (click)="new()"></p-button>
              </div>
              
              <div class="p-toolbar-group-right">
                  <p-button label="Download" icon="pi pi-download" (click)="exportExcel()" styleClass="p-button-success"></p-button>
              </div>
          </p-toolbar>
  
          <p-table [value]="courses" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                  <tr>
                      <th width="20">Nome</th>
                      <th width="30">Descrição</th>
                      <th width="10">Status</th>
                      <th width="10">Categoria</th>
                      <th width="10">Instituição</th>
                      <th width="5">Prioridade</th>
                      <th width="5">Nota</th>
                      <th width="10">Ações</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-course>
                  <tr>
                      <td>{{course.name}}</td>
                      <td>{{course.description}}</td>
                      <td>{{course.status | status}}</td>
                      <td>{{course.category | category}}</td>
                      <td>{{course.instituition.name}}</td>
                      <td>{{course.priority}}</td>
                      <td>                        
                          {{course.notation}}
                          <!--p-rating [ngModel]=({{course.quantity}}) (readonly)="getTrue()" [cancel]="false"></-p-rating -->
                      </td>
                      <td>
                          <p-button icon="pi pi-pencil" (click)="edit(course)"></p-button>
                          <p-button icon="pi pi-eye" (click)="view(course)" styleClass="p-button-secondary"></p-button>
                          <p-button icon="pi pi-trash" (click)="confirmDelete(course)" styleClass="p-button-danger"></p-button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
      <div *ngIf="viewEdit">
          <div class="grid p-fluid">
              <div class="field col-12">
                  <label>Nome</label>
                  <input required type="text" [disabled]="!editation" pInputText [(ngModel)]="course.name" />
              </div>
              <div class="field col-12">
                  <label>Descrição</label>
                  <textarea class="col-12" [rows]="5" [cols]="30" [disabled]="!editation" pInputTextarea [(ngModel)]="course.description"></textarea>
              </div>
              <div class="field col-12">
                  <label>Categoria</label>
                  <p-dropdown [options]="categories" [(ngModel)]="course.category" [disabled]="!editation"></p-dropdown>
              </div>
              <div class="field col-12">
                  <label>Instituição</label>
                  <p-dropdown *ngIf="editation" [options]="instituitions" optionValue="id"  [(ngModel)]="course.instituition" 
                  optionLabel="name" emptyFilterMessage="Nenhum dado encontrado"></p-dropdown>
                  <input *ngIf="!editation" type="text" disabled pInputText [(ngModel)]="course.instituition.name" />
              </div>
          </div>
          <div class="footer">
              <div class="flex flex-row-reverse">
                  <button pButton *ngIf="editation" (click)="save()" icon="pi pi-save" type="button" label="Salvar" ></button>
                  <button pButton *ngIf="!editation" class="p-button-danger" icon="pi pi-arrow-left" (click)="close()" type="button" label="Voltar" ></button>
                  <button pButton *ngIf="editation" class="p-button-danger" icon="pi pi-times" (click)="close()" type="button" label="Cancelar" ></button>
              </div>
          </div>

      </div>
  </p-fieldset>

</div>