<div class="p-grid">
  <div *ngIf="instituicao && (editando || detalhando)" class="p-col-12 p-md-12 p-lg-12"> <app-editar-instituicao [entidade]="instituicao" (acaoEmiter)="finalizarAcao($event)" [titulo]="titulo" [editando]="editando" [detalhando]="detalhando"></app-editar-instituicao> </div>

  <div *ngIf="!editando && !detalhando" class="p-col-12 p-md-12 p-lg-12">
      <p-table [value]="instituicoes" [paginator]="true" [rows]="10">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                  <button type="button" pButton icon="pi pi-plus" (click)="criar()" label="Nova Instituição"></button>
                  <!--button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                  <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button-->
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th width="25%">Nome</th>
                  <th width="35%">Endereço</th>
                  <th width="25%">Relevância</th>
                  <th width="15%">Ação</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-instituicao>
              <tr>
                  <td>{{instituicao.nome}}</td>
                  <td>{{instituicao.endereco}}</td>
                  <td>{{instituicao.relevancia}}</td>
                  <td>
                      <button pButton type="button" icon="pi pi-fw pi-pencil" (click)="editar(instituicao)"
                          class="p-button-rounded" pTooltip="Editar" tooltipPosition="bottom"></button>

                      <button pButton type="button" icon="pi pi-fw pi-exclamation-circle" (click)="detalhar(instituicao)"
                          class="p-button-rounded p-button-secondary" pTooltip="Detalhar" tooltipPosition="bottom"></button>

                      <button type="button" pButton icon="pi pi-fw pi-trash" (click)="excluir(instituicao)"
                          class="p-button-rounded p-button-danger" pTooltip="Excluir" tooltipPosition="bottom"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  
  </div>
</div>

<p-confirmDialog #excluirInstituicao header="Exclusão de Instituição" icon="pi pi-exclamation-triangle">
  <p-footer>
      <button type="button" pButton icon="pi pi-times" label="Não" (click)="excluirInstituicao.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Sim" (click)="excluirInstituicao.accept()"></button>
  </p-footer>
</p-confirmDialog>