<div>

    <p-fieldset legend="Institutions">
        <div *ngIf="!viewEdit">

            <p-table #dtInstituicao [value]="institutions" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-plus" (click)="new()" class="p-button-info ml-auto" pTooltip="CRIAR" tooltipPosition="bottom"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th width="30">Nome</th>
                        <th width="30">Endereço</th>
                        <th width="20">Avaliação</th>
                        <th width="20">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-institution>
                    <tr>
                        <td>{{institution.name}}</td>
                        <td>{{institution.address}}</td>
                        <td>
                            <p-rating [ngModel]="institution.quantity/2" [readonly]="true" [cancel]="false"></p-rating>
                        </td>
                        <td>
                            <button pButton type="button" icon="pi pi-pencil" (click)="edit(institution)"
                                class="p-button-raised p-button-rounded" pTooltip="Editar"
                                tooltipPosition="bottom"></button>
                            <button pButton type="button" icon="pi pi-eye" (click)="view(institution)"
                                class="p-button-raised p-button-secondary p-button-rounded" pTooltip="Visualizar"
                                tooltipPosition="bottom"></button>
                            <button pButton type="button" icon="pi pi-trash" (click)="confirmDelete(institution)"
                                class="p-button-raised p-button-danger p-button-rounded" pTooltip="Deletar"
                                tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">Nenhuma Instituição de ensino encontrada.</td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="pageable.totalElements > 0">
                <app-paginator [pageable]="pageable" (OnUpdateTable)="onPageChange($event)"></app-paginator>
            </div>
        </div>
        <div *ngIf="viewEdit">
            <div class="grid p-fluid">
                <div class="field col-12">
                    <label>Nome</label>
                    <input required type="text" [disabled]="!editation" pInputText [(ngModel)]="institution.name" />
                </div>
                <div class="field col-12">
                    <label>Endereço</label>
                    <input required type="text" [disabled]="!editation" pInputText [(ngModel)]="institution.address" />
                </div>
                <div class="field col-12">
                    <label>Avaliação</label>
                    <input required type="number" [disabled]="!editation" pInputText [(ngModel)]="institution.quantity" />
                </div>
            </div>
            <div class="footer">
                <div class="flex flex-row-reverse">
                    <button pButton *ngIf="editation" (click)="save()" icon="pi pi-save" type="button" label="Salvar" ></button>
                    <button pButton *ngIf="!editation" class="p-button-danger" icon="pi pi-arrow-left" (click)="close()" type="button" label="Voltar" ></button>
                    <button pButton *ngIf="editation" class="p-button-danger" icon="pi pi-times" (click)="close()" type="button" label="Cancelar" ></button>
                </div>
            </div>

        </div>
    </p-fieldset>

</div>
